gwc-crawler/src/main/xsd/gwc.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="services" type="Services"/>
    <xs:complexType name="Services">
        <xs:sequence>
            <xs:element type="Service" name="service" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="timestamp"/>
        <xs:attribute type="xs:string" name="network"/>
    </xs:complexType>
    <xs:complexType name="Service">
        <xs:sequence>
            <xs:element type="xs:string" name="url"/>
            <xs:element type="xs:string" name="client" minOccurs="0"/>
            <xs:element type="xs:string" name="ip" minOccurs="0"/>
            <xs:element type="xs:string" name="network"/>
            <xs:element type="xs:string" name="delta_age" minOccurs="0"/>
            <xs:element type="Hosts"     name="hosts"/>
            <xs:element type="xs:string" name="urls"/>
        </xs:sequence>
        <xs:attribute type="xs:float" name="score" use="optional"/>
        <xs:attribute type="xs:string" name="status" use="optional"/>
        <xs:attribute type="xs:dateTime" name="timestamp" use="optional"/>
        <xs:attribute type="xs:int" name="failures" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Hosts">
        <xs:sequence>
            <xs:element name="host" type="Host" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="summary" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Host">
        <xs:sequence>
            <xs:element type="xs:string" name="ip"/>
            <xs:element type="xs:int" name="port"/>
            <xs:element type="xs:string" name="client"/>
        </xs:sequence>
        <xs:attribute type="xs:byte" name="online" use="optional"/>
        <xs:attribute type="xs:int" name="age" use="optional"/>
    </xs:complexType>
</xs:schema>
